* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7decd;
}

.container {
  width: 350px;
  padding: 5px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  width: 320px;
  color: white;
  background-color: #9146ff;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  justify-self: center;
}

.bookmarks {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bookmark {
  font-size: 14px;
  border: 1px solid #b8ab8a;
  padding: 6px 10px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.note {
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.timestamp-controls {
  display: flex;
}

.control-element {
  padding: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.control-element:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.empty-timestamps {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 4px;
}
