* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7decd;
}

.container {
  width: 350px;
  padding: 5px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  width: 320px;
  color: white;
  background-color: #9146ff;
  border-radius: 5px;
  text-align: center;
  justify-self: center;
}

.bookmarks-container {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  gap: 5px;
}

.bookmarks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bookmark {
  font-size: 13px;
  border: 1px solid #b8ab8a;
  padding: 6px 10px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.note {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.timestamp-controls {
  display: flex;
}

.control-element {
  padding: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.control-element:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.empty {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 4px;
}

.clear-vod {
  font-size: 12px;
  font-weight: 700;
  color: #dc3545;
  width: fit-content;
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 6px 12px;
  border-radius: 5px;
  border: 2px solid #dc3545;
  margin-left: auto;
  padding-left: 10px;
  cursor: pointer;
}

.clear-vod:hover {
  background-color: #dc3545;
  color: white;
}

.vod-link {
  font-size: 14px;
  text-decoration: none;
  color: rgb(37, 99, 235);
  transition: color 0.3s ease;
  padding: 2px;
}

.vod-link:hover {
  text-decoration: underline;
}
